body, html {
    height: 100%;
    margin: 0;
}
body {
    background: rgb(37, 37, 37);
    background-image: url("images/computer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: azure;
    margin: 0;
    padding: 0;
}

body img {
    height: 100%;
}
header {
    font-family: "monaspace";
    background-image: url("images/Header+Background+Code+Dev.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    height: 100px;
    width: 100%;
    font-size: large;
}

header .mobile {
    display: none;
}

header .logo a {
    background-size: 200px;
    background-repeat: no-repeat;
    border-radius: 50px;
    box-shadow: rgb(194, 194, 194) 0 0 20px;
    width: 200px;
    height: 80px;
    top: 20px;
    position: relative;
    text-align: center;
    padding: 20px;
}

.logo a:hover {
    text-decoration: none;
}

@font-face {
    font-family: "monaspace";
    src: local(MonaspaceNeon-WideRegular),
    url(C:\Windows\Fonts\MonaspaceNeon-WideRegular.otf);
}

.features {
    color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: monaspace;
}

.features figure {
    margin: auto;
    text-align: center;
    width: 200px;
}

.features figure img {
    border-radius: 50%;
    box-shadow: rgb(51, 51, 51) 0 0 15px;
    width: 100px;
}

.lower-section {
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: monaspace;
    padding: 100px;
}

.lower-section figure {
    margin: auto;
    text-align: center;
    width: 200px;
}

nav ul {

    padding: 0;
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

/* RESPONSIVE RULES */
@media screen and (max-width: 600px) {
    header .mobile {
        display: inline-block;
    }
    header .desktop {
        display: none;
    }
}

/* RESPONSIVE RULES
@media screen and (max-width: 600px) {
    .features {
        display: inline-block;
    }
}
*/

a {
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    text-decoration: underline;
}

footer {
    background: black;
    bottom: 0;
    color: gray;
    font-size: 15px;
    height: 40px;
    text-align: center;
    padding: 15px;
    position: absolute;
    margin-top: 40px;
    width: 100%;
}


/* desktop settings
@media screen and (max-width: 100px) {
    .features {
        display: inline-block;
        margin: auto;
        padding: 10px;
        align-content: center;
    }
} */